/*

  A Toolbox Style

*/


body {
  padding: 0 0 40px;
  margin: 0;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  background: #eee;
  border-top: 6px solid #fff;
}
#page {
  width: 74%;
  margin: 0 auto;
}


/* Header and Title */

#branding {
  position: relative;
  display: block;
  height: 280px;
}
#branding hgroup {
  position: fixed;
  z-index: 0;
  width: 420px;
  margin-left: 60px;
}
#site-title a,
#site-description {
  display: inline-block;
  padding: 4px 10px;
  margin: 10px 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 38px;
  font-weight: bold;
  text-decoration: none;
  background: rgba(255,255,255,0.05);

  text-rendering: optimizeLegibility;
}
#site-title a {
  color: #ccc;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3), 1px -1px 0 rgba(0,0,0,0.3), -1px 1px 0 rgba(0,0,0,0.3), 1px 1px 0 rgba(0,0,0,0.3);
}
#site-title a:first-line {
  color: #fff;
}
#site-title:hover a {
  color: #ed4300;
}
#site-title:hover a:first-line {
  color: #faab00;
}
#site-title {
  position: relative;
}
#site-title:hover span:before {
  position: absolute;
  top: 20px;
  left: -40px;
  font-size: 14px;
  content: 'Home';
}
#site-description:first-line {
  color: #e9e6db;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3), 1px -1px 0 rgba(0,0,0,0.3), -1px 1px 0 rgba(0,0,0,0.3), 1px 1px 0 rgba(0,0,0,0.3);
}
#site-description {
  color: #333;
}


/* Menu */

#access {
  position: absolute;
  top: 288px;
  right: 0;
  text-align: right;
  background: none;
}
#access li {
  float: right;
  margin: 10px;
}
#access a {
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #bbb;
  text-shadow: 0 1px 1px #000;
  background: #333;
  border-bottom: 2px solid #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-box-shadow: inset 0 -1px 3px #222;
     -moz-box-shadow: inset 0 -1px 3px #222;
          box-shadow: inset 0 -1px 3px #222;
}
#access a:hover {
  color: #222 !important;
  text-shadow: 1px 1px 1px #ccc;
  background: #fff !important;
  -webkit-box-shadow: 0 -1px 1px #bbb;
     -moz-box-shadow: 0 -1px 1px #bbb;
          box-shadow: 0 -1px 1px #bbb;
}
#access ul ul {
  top: 30px;
  right: 0;
  left: auto;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
#access ul ul li {
  float: right;
  margin: 0;
}
#access ul ul a {
  width: auto;
}
#access ul ul a,
#access ul ul a:hover {
  color: #ddd !important;
  text-shadow: 1px 1px 1px #000;
  background: rgba(0,0,0,0.9);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
#access ul ul ul {
  top: 0;
  right: 100%;
  left: auto;
}
#access ul ul a {
  width: 10em;
  height: auto;
  padding: 0.8em 0.5em 0.8em 1em;
  line-height: 1em;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
#access ul ul a:hover {
  padding-right: 20px;
  background: #333 !important;
}
#access ul li:hover > ul {
  display: block;
}
#access li:hover > a,
#access ul ul :hover > a {
  background: #555;
}


/* Content */

#main {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  background: #fff;
  border-top: 5px solid #7eb111;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px;
     -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px;
          box-shadow: rgba(0, 0, 0, 0.2) 0 2px 2px;
}
#primary {
  -webkit-box-shadow: inset 0 3px 0 #c4e034;
     -moz-box-shadow: inset 0 3px 0 #c4e034;
          box-shadow: inset 0 3px 0 #c4e034;
}
#primary #content {
  padding: 20px 40px 0 80px;
}
article {
  position: relative;
  display: block;
  padding-bottom: 40px;
  margin: 60px 0;
  clear: both;
  color: #444;
  border-bottom: 1px solid #aaa;
}
article .entry-title {
  color: #444;

  -webkit-text-stroke: 1px rgba(0,0,0,0.7);
}
article .entry-title a {
  color: #555;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}
article .entry-title a:hover,
article .entry-meta a:hover {
  color: #222;
  border-color: #99cfdd;
}
article a {
  color: #478fa2;
  text-decoration: none;
}
article p a:hover {
  color: #000;
  text-decoration: underline;
}
article p {
  font-size: 16px;
  line-height: 28px;
}
article p strong {
  font-weight: bold;
  color: #333;
}
article.type-post:before {
  position: absolute;
  top: 10px;
  left: -80px;
  content: 'Post';
}
article.type-post:before {
  padding: 4px 10px;
  font-size: 13px;
  font-weight: bold;
  color: #eee;
  text-shadow: 0 -1px 0 #111;
  background: #333;
  border-left: 3px solid #222;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-box-shadow: none;

  -webkit-font-smoothing: antialiased;
}
article .entry-meta {
  display: block;
  margin: 20px 0 30px;
  clear: both;
}
article div.entry-meta {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
article .entry-meta a {
  border-bottom: 1px solid #fff;
}
article .entry-meta > span {
  font-size: 14px;
}
article .entry-meta time,
article .entry-meta span.author a {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
}
article .entry-meta span.sep:nth-of-type(2) {
  margin-left: 20px;
}
article .entry-meta .cat-links {
  display: none;
}
footer.entry-meta span:nth-child(2),
footer.entry-meta .sep {
  display: none;
}
footer.entry-meta .tag-links {
  font-size: 13px;
  color: #999;
}
footer.entry-meta .tag-links:after {
  font-weight: bold;
  color: #a71a1a;
  content: '∞ ';
}
footer.entry-meta a {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  text-transform: capitalize;
}
.entry-meta .comments-link a {
  float: right;
  padding: 5px 12px;
  margin: 5px 0;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
  background: #68aa11;
  border: 1px solid #93c514;
  border-radius: 5px;

  -webkit-font-smoothing: antialiased;
}
.entry-meta .comments-link a:hover {
  color: #eee;
  text-shadow: 0 -1px 0 #000;
  background: #222;
  border-color: #111;
}
article .post-edit-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: bold;
  color: #eee !important;
  text-shadow: 0 -1px 0 #111;
  background: #00405e;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  -webkit-font-smoothing: antialiased;
}
article .post-edit-link:hover {
  background: #0d88a7;
}
#nav-above,
.paged #content #nav-above,
.single #content #nav-above {
  display: none;
}
#nav-below a {
  display: inline-block;
  padding: 10px 20px 20px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  background: #e3ecee;
  border: 1px solid #d0dde0;
  border-bottom: 2px solid #6cb3c5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#nav-below a:hover {
  color: #eee;
  background: #666;
  border-color: #555;
}
body.single #nav-below {
  margin: 40px 0 30px;
}
body.single #nav-below a {
  padding: 10px 20px;
  border-bottom: 1px solid #d0dde0;
  border-radius: 8px;
}
body.single #nav-below a:hover {
  background: #249eb9;
  border-color: #177c92;
}
body.single article {
  border: none;
}
article blockquote {
  position: relative;
}
article blockquote:before {
  position: absolute;
  top: 0;
  left:-50px;
  font:82px/1 Georgia;
  color:#ebd91c;
  content:'\201C';
}
article blockquote:after {
  position: absolute;
  right: -50px;
  bottom: 0;
  font: 82px/0.25 Georgia;
  color: #ebd91c;
  content: '\201D';
}
article .page-link {
  padding-top: 10px;
  margin: 30px 0;
  border-top: 1px solid #ddd;
}
body.single footer.entry-meta {
  margin: 20px 0;
  font-size: 13px;
}


/* Galleries */

article.post img {
  padding: 0;
  border: 6px solid #f8f8f8;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 60px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.06) inset;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
img.alignleft,
div.alignleft {
  margin-right: 20px;
  margin-left: -30px;
}
img.alignright,
div.alignright {
  margin-right: -20px;
  margin-left: 20px;
}
.wp-caption {
  max-width: 100%;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 18px;
  text-align: center;
  background: transparent;
}
article.post .wp-caption img {
  margin: 5px 8px 0 -6px;
  border-width: 12px;
}
.wp-caption p.wp-caption-text {
  padding: 2px 10px;
  margin: 0;
  font-size: 13px;
  color: #666;
  background: #f1f1f1;
}
div.gallery {
  max-width: 100%;
}
div.gallery a img {
  position: relative;
  opacity: 0.7;
}
div.gallery a:hover img {
  z-index: 1;
  opacity: 1;
}


/* Secondary */

#secondary {
  font-size: 14px;
}
.widget-area {
  background: #f4f4f4;
  border-bottom: 12px solid #f9f9f9;
  border-left: 1px solid #e7e1d5;
}
aside {
  padding: 0 20px;
  margin-bottom: 40px;
}
aside h1 {
  font-size: 18px;
  color: #333;
}
aside ul {
  padding-left: 20px;
  color: #666;
  list-style-type: circle;
}
aside li {
  margin: 10px 0;
}
aside a {
  color: #555;
  text-decoration: none;
}
aside a:hover {
  color: #111;
  text-decoration: underline;
}
aside.widget_search {
  padding: 15px 10px;
  background: #444;
  border-bottom: 2px solid #000;
}
aside.widget_search input[type='text'] {
  padding: 4px;
  color: #777;
  background: #eee;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 3px #777;
     -moz-box-shadow: inset 1px 1px 1px #777;
          box-shadow: inset 1px 1px 1px #777;
}
aside.widget_search input#searchsubmit {
  padding: 5px 8px;
  margin: 0;
  color: #eee;
  background: #222;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: inset -1px -1px 1px #000;
     -moz-box-shadow: inset -1px -1px 1px #000;
          box-shadow: inset -1px -1px 1px #000;
}
aside.widget_search input[type='text']:hover,
aside.widget_search input[type='text']:focus {
  color: #444;
  background: #fff;
}
aside.widget_search input#searchsubmit:active {
  background: #777;
  -webkit-box-shadow: inset -1px -1px 1px #555;
     -moz-box-shadow: inset -1px -1px 1px #555;
          box-shadow: inset -1px -1px 1px #555;
}
aside.widget_twitter {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #cde8eb;
}
aside.widget_twitter h1 a {
  color: #178a97;
}
aside.widget_twitter li {
  font-size: 13px;
  color: #222;
  list-style-type: none;
}
ul.tweets {
  padding-left: 0;
}
aside.widget_text a {
  color: #478fa2;
}


/* WP.com */

img#wpstats {
  position: absolute;
  left: 50%;
  padding: 2px;
  background-color: #e2db09;
  border: 1px solid #e3bf09;
  border-radius: 3px;
}


/* Comments */

#comments #comments-title {
  padding: 5px 12px 5px 60px;
  margin-left: -80px;
  font-size: 20px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.4);
  background: #639c19;
  border: 1px solid #93c514;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  -webkit-font-smoothing: antialiased;
}
#comments #comments-title em {
  font-style: normal;
  color: #eee;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
}
#comments #comments-title em:before {
  margin-right: 2px;
  color: rgba(255,255,255,0.3);
  text-shadow: none;
  content:'\201C';
}
#comments #comments-title em:after {
  margin-left: 2px;
  color: rgba(255,255,255,0.3);
  text-shadow: none;
  content: '\201D';
}
#comments .commentlist li {
  list-style-type: none;
}
#comments article p {
  font-size: 14px;
}
#comments article footer {
  font-size: 13px;
}
#comments article footer a {
  font-weight: bold;
  color: #888;
}
#comments article footer cite a {
  font-size: 15px;
  font-style: normal;
  color: #222;
}
#comments img.avatar {
  position: absolute;
  left: -50px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
#comments ul.children article {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:#eee;
  border-radius: 6px;
  border-bottom-right-radius: 30px;
}
#comments ul.children li {
  position: relative;
}
#comments article {
  padding: 20px;
  margin: 30px 0;
}
#respond .form-allowed-tags {
  display: none;
}
#comments .reply a {
  padding: 3px 8px;
  font-size: 13px;
  color: #eee;
  background: #478fa2;
  border-radius: 4px;
}
#comments .reply a:hover {
  background: #13718b;
}
#comments li.bypostauthor > article {
  background: #e4eed6;
}
#respond {
  margin-bottom: 60px;
}
#respond input[type='text'],
#respond textarea {
  position: relative;
  padding: 10px;
  text-indent: 80px;
  background: #fff;
  border: 4px solid #eee;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 3px #ccc;
     -moz-box-shadow: inset 0 1px 3px #ccc;
          box-shadow: inset 0 1px 3px #ccc;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
  position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
  position: relative;
  top: 28px;
  left: 4px;
  z-index: 1;
  display: inline-block;
  width: auto;
  width: 60px;
  padding: 4px 10px;
  font-size: 13px;
  color: #555;
  background: #eee;
/*  text-shadow: 1px 1px 1px #fff; */
  -webkit-box-shadow: 1px 1px 2px #ccc;
     -moz-box-shadow: 1px 1px 2px #ccc;
          box-shadow: 1px 1px 2px #ccc;
}
#respond input[type='text']:focus,
#respond textarea:focus {
  z-index: 1;
  text-indent: 0;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
  position: absolute;
  top: 38px;
  left: 59%;
  z-index: 1;
  font-size: 16px;
  font-weight: bold;
}
#respond .comment-notes,
#respond .logged-in-as {
  font-size: 13px;
}
#respond .logged-in-as a {
  font-weight: bold;
  color: #478fa2;
  text-decoration: none;
}
#respond p {
  margin: 10px 0;
}
#respond input#submit {
  padding: 5px 12px;
  margin: 0;
  margin: 20px 0;
  font-size: 15px;
  color: #eee;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
  cursor: pointer;
  background: #68aa11;
  border: none;
  border: 1px solid #93c514;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px #444;
     -moz-box-shadow: 1px 1px 3px #444;
          box-shadow: 1px 1px 3px #444;

  -webkit-font-smoothing: antialiased;
}
#respond input#submit:active {
  color: #eee;
  text-shadow: 0 -1px 0 #000;
  background: #222;
  border-color: #111;
}
#respond #cancel-comment-reply-link {
  margin-left: 10px;
  color: #666;
  text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
  text-decoration: underline;
}


/* Footer */

footer#colophon {
  width: 500px;
  padding: 6px 10px;
  margin: 40px auto 20px;
  text-align: center;
}
#colophon a {
  padding-left: 36px;
  font-size: 14px;
  font-weight: bold;
  color: #222;
  text-decoration: none;
  background: url('http://s.wordpress.org/about/images/wpmini-blue.png') no-repeat 10px 0;
}
#colophon:hover {
  background: #ddd;
  border-radius: 4px;
  -webkit-box-shadow: -1px -1px 1px #ccc;
     -moz-box-shadow: -1px -1px 1px #ccc;
          box-shadow: -1px -1px 1px #ccc;
}
#colophon a:hover {
  text-decoration: underline;
}
#colophon #site-generator {
  font-size: 14px;
  color: #777;
}
#colophon a:nth-of-type(2) {
  display: inline;
  padding: 6px 2px;
  background-image: none;
}
#colophon .sep {
  margin: 0 5px;
}

/*

The End

*/
